* {box-sizing: border-box;}

body {
  font-family: sans-serif;
  margin: 20px;
}

button {
    background-color: #000;
    color: #fff;
    display: block;
    padding: 13px 24px 11px;
    text-align: center;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    font-family: Google Sans, roboto, arial, helvetica;
    font-size: .9rem;
    box-shadow: 0 6px 3px 0px rgba(60,64,67,.15), 0 2px 3px 0 rgba(60,64,67,.3);
    text-transform: uppercase;
    transition: all .25s;
}

button:hover {opacity: .8;}

.d-flex {display: flex;}
.gap-1 {gap: 1rem;}

#my-grid-2 .grid-item.placeholder {
  transform: none;
  transition: none;
}

#controls {
  margin-bottom: 10px;
}

#my-grid {
  gap: 1rem;
}

.grid-item {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  background-color: #fff;
  padding: 1rem;
  border-radius: 8px;
  box-shadow: 0 2px 2px 0 rgba(0,0,0,.14), 0 3px 1px -2px rgba(0,0,0,.12), 0 1px 5px 0 rgba(0,0,0,.2);
}

.grid-item img {
  padding: .5rem;
  background-color: black;
  border-radius: 50%;
  max-width: 100%;
  display: block;
}

.placeholder,
.ghost {
  background-color: #fff;
  cursor: grab;
}

.ghost { background-color: rgb(0, 0, 0) !important; color: #fff;}

.placeholder {
  outline: 4px solid rgb(55, 55, 255);
}

/* .grid-item.animating {background-color: #000;} */

.grid-item:nth-child(1) { background: #ffc9d6; }
.grid-item:nth-child(2) { background: #fff0a8; }
.grid-item:nth-child(3) { background: #bde5ff; }
.grid-item:nth-child(4) { background: #d9b8ff; }
.grid-item:nth-child(5) { background: #b6f7b6; }
.grid-item:nth-child(6) { background: #ffd1e8; }
.grid-item:nth-child(7) { background: #b8fff0; }
.grid-item:nth-child(8) { background: #ffd6a8; }
.grid-item:nth-child(9) { background: #caffb6; }
.grid-item:nth-child(10) { background: #e0b8ff; }