.swappable-grid {
  display: grid;
  grid-template-columns: repeat(var(--items-per-row, 4), 1fr);
  position: relative;
  height: fit-content;

  --layout-duration: 300ms;
  --layout-easing: ease;
}

.grid-item {
  transition: opacity 0.3s ease;
  touch-action: none;
  position: relative;
  overflow: hidden;
  contain: layout style;
}

.grid-item.animating {
  transition: transform var(--layout-duration) var(--layout-easing);
}

.ghost {
  background-color: goldenrod !important;
  position: fixed;
  pointer-events: none;
  z-index: 1000;
  will-change: top, left;
}

.dragging {
  cursor: grabbing;
}

.grid-item.placeholder {
  opacity: 0.5;
}

.hidden{visibility: hidden; opacity: 0;}